*{
  padding: 0;
  margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
ul{
	padding:0px;
	margin:0px;
	list-style: none;
	text-decoration:none;
}
a{
	text-decoration: none;
}
.container-center{
	width: 980px;
	margin: 0 auto;	
}
.header-{
	&h-left{
		position: absolute;
		left: 0;
	}
	&h-center{
		position: absolute;
		left: calc(50% - 106px);
	}
	&h-right{
		position: absolute;
		right: 0;
	}
	&v-top{
		top: 0px;
	}
	&v-center{
		top: 73px;
	}
	&v-bottom{
		top: 142px;
	}
	&busca-h-left{
		position: absolute;
		left: 0;
	}
	&busca-h-center{
		position: absolute;
		left: calc(50% - 106px);
	}
	&busca-h-right{
		position: absolute;
		right: 0;
	}
	&busca-v-top{
		top: 0px;
	}
	&busca-v-center{
		top: 93px;
	}
	&busca-v-bottom{
		top: 176px;
	}
	&icones-h-left{
		position: absolute;
		left: 0;
	}
	&icones-h-center{
		position: absolute;
		left: calc(50% - 106px);
	}
	&icones-h-right{
		position: absolute;
		right: 0;
	}
	&icones-v-top{
		top: 0px;
	}
	&icones-v-center{
		top: 90px;
	}
	&icones-v-bottom{
		top: 184px;
	}
}
