.modal{
	display: none;
	width: auto;
	height: 56px;
	position: absolute;
	top: 70px;
    left: 0px;
	padding: 20px;
	background-color: $preto;
	font-weight: 400;
	color: $branco;
	font-size: 1em;
		.form-group{
			width: 172px;
			height: auto;
			float: left;
			margin-right: 30px;
		}
		label{
			width: 100%;
			height: 20px;
			float: left;
			line-height: 20px;
			margin-bottom: 10px;
		}
		select{
			width: 100%;
			height: 40px;
			float: left;
			margin-bottom: 20px;				
			font-weight: 400;
			color: $preto;
			font-size: 1.5em;
		}
		button{
			width: 100%;
			height: 52px;
			float: left;	
		}
		.fechar{
			width: 20px;
			height: 20px;
			position: absolute;
			right: -10px;
			top: -10px;
			background-color: $vermelho;
			border-radius: 50%;
			font-weight: 400;
			color: $branco;
			font-size: .9em;
			text-align: center;
    		line-height: 23px;
		}
}