body.header{

	aside{
		width: 100%;
		height: auto;
		float: left;
		margin-bottom: 50px;
	}
	@-webkit-keyframes animationDropdown {
	    0%{
	        height: 0px;
	    }
	    100%{
	        height: 360px;
	    }
	}
	@-webkit-keyframes alpha {
      	0%{
        	opacity: 0;
      	}
      	100%{
        	opacity: 1px;
      	}
	}
	.drop-box{
	  width: 100%;
	  height: auto;
	  margin: 0 auto;
	  position: relative;
	    input[type="checkbox"]{
	      display: none;
	    }
	    .title{
	      width: 99%;
	      height: 50px;
	      float: left;
	      padding-left: 10px;
	      background-color: $preto;
	      line-height: 50px;
	      font-weight: 500;
	      color: $branco;
	      cursor: pointer;
	      transition: all .3s ease;
	        &:after{
	          content: "\25BC";
	          width: 50px;
	          height: 50px;
	          position: absolute;
	          top: 0;
	          right: 0;
	          background-color: $amarelo;
	          text-align: center;
	          line-height: 55px;
	          font-size: 1.2em;
	        }
	        &:hover{
	          &:after{
	            content: "\25BC";
	            width: 50px;
	            height: 50px;
	            position: absolute;
	            top: 0;
	            right: 0;
	            background-color: $laranja;
	            text-align: center;
	            line-height: 55px;
	            font-size: 1.2em;
	          }
	        }
	    }
	    ul{
	      display: none;
	      width: 100%;
	      height: auto;
	      float: left;
	      position: absolute;
	      top: 57px;
	      background-color: $preto;
	      -webkit-animation: animationDropdown .3s ease;
	      -moz-animation: animationDropdown .3s ease;
	      -o-animation: animationDropdown .3s ease;
	      -ms-animation: animationDropdown .3s ease;
	      animation: animationDropdown .3s ease;
	        label{
	          width: 100%;
	          height: 40px;
	          float: left;
	          padding: 10px;
	          line-height: 40px;
	          font-weight: 300;
	          font-size: 1em;
	          color: $branco;
	          -webkit-animation: alpha .5s ease;
	          -moz-animation: alpha .5s ease;
	          -o-animation: alpha .5s ease;
	          -ms-animation: alpha .5s ease;
	          animation: alpha .5s ease;
	          &:hover{
	            background-color: $amarelo;
	          }
	        }
	    }
	    #open-drop:checked ~ ul{
	      display: block;
	    }
	}
	header{
		width: 100%;
		height: 200px;
		float: left;
		margin-top: 80px;
			
			.container-center{
				position: relative;
				height: 200px;
				border: 1px solid #000;
			}
			.header-logo{
				width: 212px;
				height: 59px;
				position: absolute;
				&:hover{
					&:before{
						content: "\270E";						
						position: absolute;
						right: 0px;
						bottom: 0;
						font-size: 1.4em;
					}
				}

					img{
						width: 212px;
						height: 59px;
					}

			}
			.header-busca{
				width: 203px;
				height: 25px;
				position: absolute;
				cursor: pointer;
				&:before{
					content: "Controle de busca da VTEX";
					font-weight: 300;
					font-size: .9em;
					color: $preto;
				}
				&:hover{
					&:after{
						content: "\270E";						
						position: absolute;
						right: 0px;
						bottom: 0;
						font-size: 1.4em;
					}
				}
			}
			.header-icones{
				width: 74px;
    			height: auto;
    			position: absolute;
    			&:hover{
					&:before{
						content: "\270E";						
						position: absolute;
						right: 0px;
						bottom: 0;
						font-size: 1.4em;
					}
				}

    			ul{
    				width: 100%;
    				height: auto;
    				float: left;
    			}

				li{
					width: auto;
					height: 16px;
					float: left;
					margin-right: 10px;
						a{
							width: 100%;
							height: auto;
							float: left;
						}
						i{
							color: $preto;
						}
				}

			}
	}		
	.btn-code{
		width: 100%;
		height: auto;
		float: left;
		margin-top: 20px;

			button{
				width: 50%;
				height: 52px;
				margin: 0 auto;
			}
	}
}