.box-nome-loja{
	position: absolute;
	left: calc(50% - 25%);

		label{
			width: 100%;
			height: auto;
			float: left;
			margin-bottom: 20px;
			text-align: center;
			font-weight: 900;
			font-size: 4em;
		}
		input{
			margin-bottom: 20px;
		}
		button{
			width: 100%;
		}
}